[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "deps/litescope"]
	path = deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/litex_boards"]
	path = deps/litex_boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "deps/valentyusb"]
	path = deps/valentyusb
	url = https://github.com/im-tomu/valentyusb.git
[submodule "deps/spibone"]
	path = deps/spibone
	url = https://github.com/xobs/spibone.git
[submodule "deps/lxsocsupport"]
        path = deps/lxsocsupport
	url = https://github.com/xobs/lxsocsupport.git
[submodule "sw/imports/wfx-firmware"]
	path = sw/imports/wfx-firmware
	url = https://github.com/SiliconLabs/wfx-firmware.git
	branch = master
[submodule "sw/imports/wfx-fullMAC-tools"]
	path = sw/imports/wfx-fullMAC-tools
	url = https://github.com/SiliconLabs/wfx-fullMAC-tools.git
	branch = master
[submodule "sw/wfx200_sys/wfx-fullMAC-driver"]
	path = sw/wfx200_sys/wfx-fullMAC-driver
	url = https://github.com/SiliconLabs/wfx-fullMAC-driver.git
	branch = master
