[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "deps/litescope"]
	path = deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/lxsocdoc"]
	path = deps/lxsocdoc
	url = https://github.com/xobs/lxsocdoc.git
[submodule "deps/lxsocsupport"]
	path = deps/lxsocsupport
	url = https://github.com/xobs/lxsocsupport.git
